
.dashboard{
padding:30px;
}

.navbar{
background:linear-gradient(135deg,#7B2FF7,#F107A3);
color:white;
padding:15px;
border-radius:10px;
}

.dashboard-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:30px;
}

.dashboard-card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
cursor:pointer;
transition:0.3s;
}

.dashboard-card:hover{
transform:translateY(-5px);
}